.slick-list {
  margin-left: -10px; 
  margin-right: -10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slick-slide {
  padding: 0 15px;
}

.slick-track {
  display: flex;
  align-items: center;
}
